main{
    background-color: white;
}

.topbar{
    display: flex;
    background-color: #2349BB;
    top:0;
    height: 10%;
}

.title{
    display: flex;
    position: relative;
    align-items: center;
    color: white;
    left: 10px;
    font-size: 20px;
}

.petTypes {
    display: flex;
    height: auto;
    margin: 20px;
    flex-direction: column; 
}

.petTypes2{
    display: flex;
    height: 80%;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.petNames{
    display: flex;
    padding: 0 45px;
    height: 20%;
    justify-content: space-between;
    bottom: 0;
    flex-wrap: wrap;
}

.dogButton {
    width: 30%;
    background: transparent;
    border: none;
}

.buttonContainer {
    display: flex;
    width: 30%;
    margin: 10px;
}

.specialty{
    width: 100%;
    flex-wrap: wrap;
}
  

.buttonContainer2 {
    display: flex;
    width: 100%;
    margin: 10px;
    flex-wrap: wrap;
    gap: 10px;
}

.text{
    width: 30%;
}

.petTypes3{
    display: flex;
    height: 20%;
    margin: 20px;
    flex-direction: column; 
}


  .buttonUnclicked {
    background-color: transparent;
    border: 2px solid grey;;
    color: grey;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 50px;
    width: auto;
    display: flex;

  }
  
  .buttonClicked {
    background-color: rgba(35, 73, 187, 0.3);;
    border: 2px solid #2349BB;
    color: #2349BB;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 50px;
    width: auto;
    display: flex;

  }


